* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  float: right;
  text-align: right;
  margin-right: 15px;
  margin-top: 20px;
  outline: none;
  border: none;
}

.container {
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  max-width: 40%;
  margin: 80px auto;
}

.title {
  padding: 3%;
  color: rgba(5, 122, 177, 0.795);
  background-color: rgba(240, 240, 240, 0.493);
  font-weight: 700;
}

.container input[type='text'] {
  width: 94%;
  font-style: italic;
  border-top: 0.6px solid rgb(216, 216, 216);
  border-right: none;
  border-bottom: 0.6px solid rgb(216, 216, 216);
  border-left: none;
  padding: 3%;
}

.container input[type='text']:focus {
  outline: none;
}

.todo-item {
  padding: 3%;
  border-bottom: 0.6px solid rgb(216, 216, 216);
}

.clear {
  background-color: rgba(240, 240, 240, 0.493);
  text-align: center;
  padding: 3%;
}

.clear a {
  cursor: pointer;
  color: rgba(5, 122, 177, 0.795);
  font-weight: 700;
}

.clear a:hover {
  color: rgb(207, 91, 13);
  text-decoration: underline;
  font-weight: bold;
}

.checked {
  text-decoration: line-through;
  color: rgba(129, 129, 129, 0.548);
}

